<%= form_for(@ally) do |f| %>
  <% if @ally.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ally.errors.count, "error") %> prohibited this ally from being saved:</h2>

      <ul>
      <% @ally.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br>
    <%= f.text_field :name %>
  </div>
  
  <b>NickNames:</b><br />
  <ul>
      <% @ally.nicknames.each do |nn| %>
        <li>
          <%=nn.nick%>
         </li> 
      <%end%>
  </ul>
  

  <%= f.fields_for :nicknames,@ally.nicknames.build do |nn|%>
    <%= f.label :nick %><%= nn.text_field :nick%>
  <%end%>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>
