<h1>Listing allies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allies.each do |ally| %>
      <tr>
        <td><%= ally.name %></td>
        <td><%= link_to 'Show', ally %></td>
        <td><%= link_to 'Edit', edit_ally_path(ally) %></td>
        <td><%= link_to 'Destroy', ally, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ally', new_ally_path %>
