<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ally.name %><br />
  <strong>NickNames:</strong><br />
  <% @ally.nicknames.each do |nn| %>
  	<%=nn.nick%><br />
  <%end%>
</p>

<%= link_to 'Edit', edit_ally_path(@ally) %> |
<%= link_to 'Back', allies_path %>
