<%= form_for(@relation) do |f| %>
  <% if @relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relation.errors.count, "error") %> prohibited this relation from being saved:</h2>

      <ul>
      <% @relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
       
        <%= f.fields_for :link,@relation.build_link do |nn|%>
              <div class="row">
                  <div class="6u">
                    <%= nn.text_field :title,placeholder:"Título"%>
                  </div>
                  <div class="6u">
                    <%= nn.select :journal,JOURNALS.each_with_index.map{ |val, i| [ val[0], i ]  },:include_blank => "Periódico" %>
                  </div>
              </div>
              <div class="row">
                  <div class="6u">
                      <%= nn.text_field :author,placeholder:"Autor" %>
                  </div>
                  <div class="6u">
                      <%= nn.text_field :url,placeholder:"URL" %>
                  </div>
              </div>

              <div class="row">
                  <div class="4u">
                      <%=f.select(:candidate_id, Candidate.all.collect {|w| [ w.name, w.id ] },:include_blank => "Candidato")%>
                  </div>
                  <div class="4u">
                      <%=f.select(:ally_id, Ally.all.collect {|w| [ w.name, w.id ] },:include_blank => "Aliado")%>
                  </div>
                  <div class="4u">
                      <%=f.select(:relation_type_id, RelationType.all.collect {|w| [ w.name, w.id ] },:include_blank => "Tipo de Relación")%>
                  </div>
              </div>

              <div class="row">
                  <div class="12u">
                    <%= nn.text_area :content,placeholder:"Contenido"%>
                  </div>
              </div>

              <div class="row">
                  <div class="12u">
                      <%=nn.file_field :pdf %>
                  </div>
              </div>

              
        <%end%>

        <div class="actions">

          <%= f.submit "Crear Vínculo" %>

          <%=button_tag(type: 'button', id: "askSuggestions",class: "button scrolly espButton") do
            content_tag(:strong, 'Sug. Vínculo')
          end%>
          
        </div>

<% end %>
  <table id="toAdd">
    <tr>
      <td class="art_title">Titulo noticia</td>
      <td class="art_link"><a href="www.eluniversal.com">link</a></td>
      <td class="art_searchtxt">Margarita Pepe</td>
      <td class="art_button"><button id="but" onclick="acceptNotice(this)">Correcto</button></td>
      <td class="art_text" style="display:none;">ten amo arturo ay segun sme xae gordo pero noooo</td>
    </tr>
  </table>
  <%=render "modal"%>