<%= form_for(@relation) do |f| %>
  <% if @relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relation.errors.count, "error") %> prohibited this relation from being saved:</h2>

      <ul>
      <% @relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :link_id %><br>
    <%= f.number_field :link_id %>
  </div>
  <div class="field">
    <%= f.label :ally_id %><br>
    <%= f.number_field :ally_id %>
  </div>
  <div class="field">
    <%= f.label :candidate_id %><br>
    <%= f.number_field :candidate_id %>
  </div>
  <div class="field">
    <%= f.label :relation_type_id %><br>
    <%= f.number_field :relation_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
