<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @relation.link_st %>
</p>

<p>
  <strong>Ally:</strong>
  <%= @relation.ally_st %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @relation.candidate_st %>
</p>

<p>
  <strong>Relation type:</strong>
  <%= @relation.relation_type_st %>
</p>

<%= link_to 'Edit', edit_relation_path(@relation) %> |
<%= link_to 'Back', relations_path %>
