<div class="formdiv" align= "center">
    <%= form_for(@candidate ) do |f| %>
      <% if @candidate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

          <ul>
          <% @candidate.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name, "Nombre"%>
        <%= f.text_field :name %>
      </div>
      <b>NickNames:</b>
      <ul>
        <% @candidate.nicknames.each do |nn| %>
          <li>
            <%=nn.nick%>&nbsp<%= link_to '<span class="icon fa-remove"></span>'.html_safe, nn, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        <%end%>
      </ul>

      <%= f.fields_for :nicknames,@candidate.nicknames.build do |nn|%>
        <%= f.label :nick, "Nuevo Nickname" %><%= nn.text_field :nick%>
      <%end%>


      <%=image_tag @candidate.avatar.url,height: '200', width: '200'%>
      <%= f.file_field :avatar %>

      <div class="actions">
        <%= f.submit "Actualizar" %>
      </div>
    <% end %>
</div>
