<!DOCTYPE html>
<html>
<head>
  <title>Bettybetty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header" class="skel-layers-fixed">
		<div class="top">
			<div id="logo">
				
				<h1 id="title">Betty Betty</h1>
			</div>
			<nav id ="nav">
				<ul>

				<li><%=link_to '<span class="icon fa-home"></span>  Home'.html_safe, relations_path%></li>
				  <li><%=link_to '<span class="icon fa-user"></span>  Candidatos'.html_safe, candidates_path%></li>
				  <li><%=link_to '<span class="icon fa-user"></span> Aliados'.html_safe,    allies_path%></li>
				  <li><%=link_to '<span class="icon fa-th-large"></span> Vínculos'.html_safe, new_relation_path%></li>
				  <li><%=link_to '<span class="icon fa-th-large"></span> Tipo de Relaciones'.html_safe, relation_types_path%></li>
				 
				  <!-- <li><%#=link_to 'Tipos de Relaciones', relation_types_path%></li>
				  <li><%#=link_to 'Nicknames', nicknames_path%></li> -->
			  </ul>
			</nav>
		</div>
		<div class="bottom">
		</div>
	</div>

	
<div id="main">
	<%= yield %>
</div>

</body>
</html>
